.search-input {
    width: 80%;
    display: block;
    height: 40px;
    text-align: center;
    border: 1px solid;
    margin: auto;
}

li {
    width: 80%;
    overflow: scroll;
    text-align: center;
    margin: 0 auto;
}

ul {
    padding: 0px;
    margin: 0px;
}

.search-container{
    text-align:center;
}